.navbar__button{
    height: 100%;
    width: 12vw;
    background: white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: white;
    border-top: white;
    font-size: 18px;
    display: inline-block;
}
.link{
    text-decoration: none;
    height: 100%;
}