.container {
  display: flex;
  flex-direction: row;
}

.color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.5);
  margin: 2px;
  cursor: pointer;
}

.color:hover {
  border: 2px solid teal;
}

.color__selected {
  border: 2px solid teal;
}
