.menu__button {
  position: absolute;
  top: 17px;
  left: 10px;
}

.menu__window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.menu__window__header {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #961919;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__window__header > h2 {
  color: #686868;
}

.menu__window__header__close {
  display: block;
  position: absolute;
  top: 17px;
  left: 10px;
}

.menu__window__header__cart {
  display: block;
  position: absolute;
  top: 25px;
  right: 10px;
}

.menu__window__content {
  display: flex;
  flex-direction: column;
}

.menu__blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.option {
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}