@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
*{
    font-family: Actor, sans-serif;
}

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
.headbar{
    width: 100%;
    height: 95px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    background: #CC1010;
    border-bottom: 1px solid black;
}
.headbar__h1{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font: 50px ABeeZee, sans-serif;
}

.headbar__link{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.buttons__container{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.search__container{
    width: 22vw;
}

.login_buttons__container{
    margin-left: 3vw;
    margin-right: 1vw;
    height: 100%;
    display: flex;
    align-items:center
}

.buttonbar{
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: flex;
}

.logo{
    --logo-size: 12vw;
    width: var(--logo-size);
    height: var(--logo-size);
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 1vw;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 14.5vw;
    margin-right: 1vw;
}