.search {
  background: transparent;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.search form {
  height: 100%;
  background: transparent;
  position: relative;
}
.search input {
  height: 30px;
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 16px;
  float: right;
}

.search img {
  height: 20px;
  width: 20px;
  background: none;
  position: absolute;
  top: calc((100% - 20px) / 2);
  right: 10px;
  cursor: pointer;
}

/*.d7 form {*/
/*    width: auto;*/
/*    float: right;*/
/*    margin-right: 30px;*/
/*    position: relative;*/
/*}*/
/*.d7 input {*/
/*    width: 250px;*/
/*    height: 42px;*/
/*    padding-left: 15px;*/
/*    border-radius: 42px;*/
/*    border: 2px solid #324b4e;*/
/*    background: #F9F0DA;*/
/*    outline: none;*/
/*    transition: .3s linear;*/
/*}*/
/*.d7 input:focus {*/
/*    width: 300px;*/
/*}*/
/*.d7 button {*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    background: none;*/
/*    border: none;*/
/*    position: absolute;*/
/*    top: -2px;*/
/*    right: 0;*/
/*}*/
/*.d7 button:before{*/
/*    content: "\f002";*/
/*    font-family: FontAwesome, sans-serif;*/
/*    color: #324b4e;*/
/*}*/
